<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pet Station</title>
    <link rel="stylesheet" type="text/css" href="static/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="static/css/grid.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
  </head>
  <body>
    <header>
      <div class="main-title-text">
        <h1 class="camera-text">Camera feed</h1>
        <div class="row, camera-img">
          <img src="{{ url_for('video_feed') }}" width=60%>
        </div>
        <div class="thaButtons">
          <a class="buttons" href="index.html">Home</a>
          <a class="buttons" href="laser_control.html">Laser Control</a>
      </div>
      </div>
   </header>
  </body>
</html>
