<!-- Template (html file) for the index page (main page) of the application -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pet Station</title>
    <!-- jQuery -->
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <!-- index page javascript -->
    <script type=text/javascript src="{{url_for('static', filename='js/index.js')}}"></script>
  </head>
  <body>
    <div class="container">
        <h1>Index Page</h1>
        <a href="/laser_control" class="btn btn-primary">Laser Control</a>
    </div>
  </body>
</html>
