<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="static/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="static/css/grid.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<title>The Pet Station</title>
</head>
<body>
	<header>
		<div class="main-title-text">
			<h1>The Pet Station</h1>
			<div class="thaButtons">
				<a class="buttons" href="laser_control.html">Laser Control</a>
				<a class="buttons" href="camera.html">View Camera</a>
			</div>
			<div class="daForm">
				<form id="audio-form">
			      <!-- dropdown menu for selecting which audio file to play -->
			      <select name="audio" id="audio-dropdown" method="GET" action="/">
			        {% for audio_fn in audio_files %}
			          <option value="{{audio_fn}}" SELECTED>{{audio_fn}}</option>"
			        {% endfor %}
			      </select>
			      <!-- submit form button -->
			      <input class="sound-button" type="submit" value="Play Sound">
			    </form>
			</div>
		</div>
	</header>
</body>
</html>