<!-- Template (html file) for the laser control page -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pet Station</title>
    <!-- jQuery -->
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <!-- laser control page javascript -->
    <script
        type=text/javascript
        src="{{url_for('static', filename='js/laser_control.js')}}"></script>
  </head>
  <body>
    <h1>Laser Control</h1>
    <p>Use wasd keys to control laser.</p>
    <p>Hold down enter to keep the laser on.</p>
  </body>
</html>
